canvas,
body,
html,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Pixels";
  src: url("/PerfectoCalligraphy.ttf");
  font-display: swap;
}

@font-face {
  font-family: "highspeed-font";
  src: url("/HIGHSPEED.TTF");
  font-display: swap;
}

@font-face {
  font-family: "helvetica";
  src: url("/Helvetica-Bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "pixelated";
  src: url("/PixeloidSans-mLxMm.woff");
  font-display: swap;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fa8072);
}

.entranceText {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

@keyframes move {
  0% {
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes backInAnimation {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letterAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.word {
  display: inline-block;
  opacity: 0;
  animation: letterAnimation 0.5s forwards;
  animation-delay: calc(var(--index) * 0.04s);
}

/* GRILLS */
.grill-object {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.grill-object.grills-in {
  animation: grillEntranceAnimation 2s cubic-bezier(0, -0.01, 0, 1) forwards;
  pointer-events: none;
}

.grill-object.grills-out {
  animation: grillExitAnimation 1s ease-in-out forwards;
}

@keyframes grillEntranceAnimation {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes grillExitAnimation {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

/* ITEM INFO */
.item-info {
  font-style: italic;
  font-size: 4vw;
  line-height: 1.1;
  transition: 400ms all;
  font-family: "Pixels";
  opacity: 100;
  color: rgb(0 0 0);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  white-space: normal;
  overflow-wrap: break-word;
  word-break: keep-all;
  pointer-events: none;
}

.item-info.mobile {
  font-size: 6vw;
}

.item-info-header.grills-out,
.item-info.grills-out {
  animation: backInAnimation 0.3s linear reverse forwards;
}

.item-info-container {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: fixed;
  width: 50%;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.item-info-container.mobile {
  top: 82.5%;
  margin: 0.5rem;
  text-align: right;
  width: 100%;
}

.item-info-container.zoomed-out {
  opacity: 1;
}

.item-info-container.zoomed-in {
  opacity: 0;
}

.item-info-header {
  margin-right: 1rem;
  width: 50%;
  transition: 400ms all;
  font-family: "helvetica";
  opacity: 100;
  font-size: 1.4vw;
  text-transform: uppercase;
  color: black;
  pointer-events: none;
  font-weight: 900;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.item-info-header.mobile {
  width: 100%;
  font-size: 3vw;
}

/* BILLBOARD */

.billboard-container {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: fixed;
  width: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.billboard-container.mobile {
  top: 20%;
}

section {
  width: 100%;
  display: block;
  height: 10vh;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.full-billboard {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  animation: move 11s linear infinite;
  pointer-events: none;
}

.single-billboard {
  margin-right: 1rem;
  width: 50%;
  text-align: center;
  transition: 400ms all;
  font-family: "highspeed-font";
  opacity: 100;
  font-size: 13vw;
  text-transform: uppercase;
  color: salmon;
  pointer-events: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  writing-mode: vertical-rl;
  font-size: 1.8vw;
  font-family: "helvetica";
  position: fixed;
  bottom: 1.5rem;
  right: 0.5rem;
  z-index: 50;
  animation: grillEntranceAnimation 2s cubic-bezier(0, -0.01, 0, 1) forwards;
}

.footer-container.mobile {
  writing-mode: horizontal-tb;
  font-size: 5vw;
}

.footer-item {
  color: black;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: #fa8072;
  transform: translateX(-5px);
  cursor: cell;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 2rem;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 3;
}

.nav-item {
  flex: 1;
  color: black;
  height: auto;
  width: 100%;
  transition: all 0.2s ease-out;
  font-family: "pixelated";
  font-size: 2vw;
  cursor: cell;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-item.mobile {
  font-size: 3vw;
}

.header-container {
  width: auto;
  cursor: pointer;
  transition: all 2s ease-out;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  z-index: 9999;
  backdrop-filter: blur(10px);
}

.modal.mobile {
  font-size: 6vw;
}

.header {
  font-family: "helvetica";
  font-size: 2vw;
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.header.mobile {
  font-family: "helvetica";
  font-size: 5vw;
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.nav-item-anim {
  animation: fadeInCreds 0.5s ease-in-out forwards;
  animation-delay: 0.05s;
}

.nav-item-anim-rev {
  animation: fadeInCredsRev 0.5s ease-in-out forwards;
  animation-delay: 0.05s;
}

.enter-from-right {
  animation: slideInFromRight 2s ease-in-out forwards;
}

.enter-from-left {
  animation: slideInFromLeft 2s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50vw);
  }
  15% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50vw);
  }
  15% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@keyframes fadeInCreds {
  0% {
    transform: translateX(0vw);
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

@keyframes fadeInCredsRev {
  0% {
    transform: translateX(0vw);
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(50vw);
  }
}

@keyframes fadeInCredsDetails {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-item:hover {
  color: salmon;
}

.left:hover {
  transform: translateX(10px);
}

.right:hover {
  transform: translateX(-10px);
}

.right {
  text-align: right;
  justify-content: flex-end;
}

.left {
  text-align: left;
  justify-content: flex-start;
}

.cute-thing {
  opacity: 0;
  font-family: "helvetica";
  font-size: 4vw;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  color: #fa8072;
}

.anim-bottom {
  animation: fadeInCredsDetails 1s linear forwards;
  animation-delay: 2s;
}

.react-p5-wrapper {
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
}
