canvas,
body,
html,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Pixels";
  src: url("/dotmatrix.woff") format("woff");
  font-display: swap;
}

.grillGallery {
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  height: 100%;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e9eaffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.descriptor {
  transition: 400ms all;
  font-family: "Pixels";
  opacity: 0;
  font-size: 1.5rem;
}

.mobile-descriptor {
  transition: 400ms all;
  font-family: "Pixels";
  font-size: 1.2rem;
  text-align: center;
}

.entranceText {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.descriptor:hover {
  opacity: 100;
}

.model:hover ~ .descriptor {
  opacity: 100;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.jsonToReact {
  white-space: pre-line;
  vertical-align: bottom;
}
